services:  
  EasyProxy:
    build: https://github.com/nzo66/EasyProxy.git#main
    container_name: EasyProxy
    restart: unless-stopped
    ports:
      - '${PORT:-7860}:${PORT:-7860}' #modifica la variabile "PORT" per cambiare la porta
    environment:
      - API_PASSWORD=ep      #qui inserisci la tua password personalizzata
      - PORT=7860
      # VARIABILI OPZIONALI
      #- GLOBAL_PROXY=
      #- VAVOO_PROXY=
      #- DLHD_PROXY=
